
@font-face {
    font-family: Sahel;
    src: url('Sahel/Sahel.eot');
    src: url('Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel/Sahel.woff2') format('woff2'),
         url('Sahel/Sahel.woff') format('woff'),
         url('Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}
  
@font-face {
    font-family: Sahel;
    src: url('Sahel/Sahel-Bold.eot');
    src: url('Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
         url('Sahel/Sahel-Bold.woff2') format('woff2'),
         url('Sahel/Sahel-Bold.woff') format('woff'),
         url('Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}
  
@font-face {
    font-family: Sahel;
    src: url('Sahel/Sahel-Light.eot');
    src: url('Sahel/Sahel-Light.eot?#iefix') format('embedded-opentype'),
         url('Sahel/Sahel-Light.woff2') format('woff2'),
         url('Sahel/Sahel-Light.woff') format('woff'),
         url('Sahel/Sahel-Light.ttf') format('truetype');
    font-weight: 300;
}
  
@font-face {
    font-family: Sahel;
    src: url('Sahel/Sahel-SemiBold.eot');
    src: url('Sahel/Sahel-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('Sahel/Sahel-SemiBold.woff2') format('woff2'),
         url('Sahel/Sahel-SemiBold.woff') format('woff'),
         url('Sahel/Sahel-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
  
@font-face {
    font-family: Sahel;
    src: url('Sahel/Sahel-Black.eot');
    src: url('Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
         url('Sahel/Sahel-Black.woff2') format('woff2'),
         url('Sahel/Sahel-Black.woff') format('woff'),
         url('Sahel/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

* {
    font-family: 'Sahel';
}

h1, h2, h3, h4 {
    font-family: 'Sahel';
    font-weight: 900;
}

pre {
    direction: ltr;
}

code {
  display: inline-block;
  direction: ltr;
}

div[class='brush: python'] {
  display: block;
  direction: ltr;
}

.linenodiv { display: none;}

li {
    margin-right: 25pt;
}

.nav-tabs li {
    margin-right: 0;
}

.navbar-brand {
    margin-right: 0;
    font-size: 20pt;
}

a {
    text-underline-offset: 25%;
    text-decoration: none;
}

.tab-content td, .tab-content th {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.tab-content table {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

.blog img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
