<h2>پیشنهاد سوال</h2>

<div class="row mb-4">
<div class="col-md-6 mb-2">
    <p>
    با پر کردن فرم زیر به ما سوال پیشنهاد دهید.
    </p>

    <form
    class="needs-validation" novalidate
    action="https://formspree.io/f/mknaqeyj"
    method="POST">

        <div class="col-md-11 mb-3">
            <label for="problem_title">عنوان مساله (اجباری)</label>
            <input type="text" class="form-control" id="problem_title" placeholder="" value="" name="problem_title" required>
            <div class="invalid-feedback">
                عنوان سوال اجباری است!
            </div>
        </div>

        <div class="col-md-11 mb-3">
            <label for="problem_solution">راه‌حل (اجباری)</label>
            <textarea class="form-control" id="problem_solution" name="problem_solution" rows="3" required></textarea>
            <div class="invalid-feedback">
                راه‌حل اجباری است!
            </div>
        </div>

        <div class="col-md-11 mb-3">
            <label for="submitter_name">نام شما (اختیاری)</label>
            <input type="text" class="form-control" id="submitter_name" name="submitter_name" placeholder="">
        </div>

        <div class="col-md-11 mb-3">
            <label for="submitter_name">آدرس ایمیل (اختیاری)</label>
            <input type="text" class="form-control" id="submitter_email" name="submitter_email" placeholder="">
        </div>

        <div class="col-md-11 mb-3">
            <label for="twitter_handle">هندل توویتر (اختیاری)</label>
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input type="text" class="form-control" id="twitter_handle" name="twitter_handle" placeholder="" aria-describedby="inputGroupPrepend">
            </div>
        </div>

        <div class="col-md-11 mb-3">
            <label for="problem_solution">سایر توضیحات (اختیاری)</label>
            <textarea class="form-control" id="other_notes" name="other_notes" rows="3"></textarea>
        </div>

    <button class="btn btn-primary" type="submit">ارسال</button>
    </form>
</div>
<div class="col-md-6 text-center">
    <img src="images/germain-gauss.jpg" style="width:90%" />
</div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
