<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">لیست مساله‌ها</h5>
                <p class="card-text">از حل مساله‌ها لذت ببرید!</p>
                <a href="problem-list.html" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">تاریخ ریاضیات</h5>
                <p class="card-text">با تاریخ ریاضیات آشنا شوید!</p>
                <a href="#" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">وبلاگ</h5>
                <p class="card-text">اخبار و مطالب متنوع!</p>
                <a href="#" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
</div>
