<div class="row mb-4">
    <div class="col-md-6">
        <p>
        به کافه ریاضی خوش اومدین! در اینجا قراره با حل مساله با هم اوقات خوشی داشته باشیم!
        </p>

        <p>
        می‌تونین با دنبال کردن اکانت توویتر 
        <a style="display: inline-block; direction: ltr" href="https://twitter.com/riazi_cafe">@riazi_cafe</a>
        از آخرین مساله‌ها خبردار بشین.
        </p>

        <p>
        اگه علاقه‌مندین به ما در طرح سوال کمک کنین، 
        <a href="./send-problem.html">این فرم</a>
         رو پر کنین. یا به 
         <a href="https://twitter.com/riazi_cafe">
         اکانت توویتر
         </a>
          ما پیام بفرستین.
        </p>
    </div>
    <div class="col-md-6 text-center">
        <img src="images/latte-with-dices.jpg" style="width:90%" />
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">لیست مساله‌ها</h5>
                <p class="card-text">از حل مساله‌ها لذت ببرید!</p>
                <a href="/problem-list.html" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">تاریخ ریاضیات</h5>
                <p class="card-text">با تاریخ ریاضیات آشنا شوید!</p>
                <a href="/under-construction.html" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">وبلاگ</h5>
                <p class="card-text">اخبار و مطالب متنوع!</p>
                <a href="/under-construction.html" class="btn btn-primary">مشاهده ...</a>
            </div>
        </div>
    </div>
</div>
