<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">عنوان اول</h5>
                <p class="card-text">کمی توضیح</p>
                <a href="#" class="btn btn-primary">بیشتر ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">عنوان دوم</h5>
                <p class="card-text">کمی توضیح</p>
                <a href="#" class="btn btn-primary">بیشتر ...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">عنوان سوم</h5>
                <p class="card-text">کمی توضیح</p>
                <a href="#" class="btn btn-primary">بیشتر ...</a>
            </div>
        </div>
    </div>
</div>
