<div class="row">
    <h2><%= translate("Problems", language) %></h2>
    <ul>
        <% problems.each do |problem| %>
            <li>
                <a href="<%= problem.url %>">
                    <% if !problem.id.empty? %>
                       <b> <%= problem.id %>. </b>
                    <% end %>
                    <%= problem.title %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
