<div class="row">
    <h2>مساله‌ها</h2>
    <ul>
        <% problems.each do |problem| %>
            <li>
                <a href="<%= problem.url %>">
                    <%= problem.title %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
